<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>The Lines</title>

    <link rel="icon" href="~/image/favicon/bed-sheets.png"/>

    <link rel="stylesheet" href="~/css/helpers/clear.css"/>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.inputmask/inputmask.min.js"></script>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>

    <link rel="stylesheet" href="~/css/errorStyle.css"/>
    <link rel="stylesheet" href="~/css/helpers/scroll.css"/>
    <link rel="stylesheet" href="~/css/helpers/ibg.css"/>
    <link rel="stylesheet" href="~/css/headerFooter.css"/>
</head>

<body>
<div class="main-wrapper">
    <header class="main-wrapper-header">
        <h1 class="header-main-text">
            <a class="header-main-text__item link" asp-controller="Main" asp-action="Index">The Lines</a>
        </h1>
        <nav class="header-items">
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </header>

    @RenderBody()

    <footer class="main-wrapper-footer">
        <a asp-controller="Main" asp-action="AboutUs">О программе</a>
    </footer>
</div>
</body>
</html>