<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>The Lines</title>

    <link rel="icon" href="~/image/favicon/bed-sheets.png"/>
    
    <link rel="stylesheet" href="~/css/helpers/clear.css"/>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.inputmask/jquery.inputmask.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.inputmask/inputmask.min.js"></script>
    
    <script type="text/javascript" src="~/js/code.js"></script>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>

    <link rel="stylesheet" href="~/css/helpers/spinner.css"/>
    <link rel="stylesheet" href="~/css/errorStyle.css"/>
    <link rel="stylesheet" href="~/css/helpers/scroll.css"/>
    <link rel="stylesheet" href="~/css/helpers/ibg.css"/>
    <link rel="stylesheet" href="~/css/headerFooter.css"/>
</head>

<body>
<div class="main-wrapper">

    <div class="spinner hideSpinner">
        <svg class="spinner__item" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    <header class="main-wrapper-header">
        @await Html.PartialAsync("_LoginPartial")
    </header>

    @RenderBody()
</div>
</body>
</html>