<link rel="stylesheet" href="~/css/Notification.css"/>

<div style="text-align:center; margin: 0 auto" class="text">
    <h4 class="text__main" style="max-width: 1500px">Упс, время действия ссылки для восстановления пароля, похоже, закончилось. Для того, чтоб восстановить пароль к аккаунту, запросите письмо со ссылкой для восстановления еще раз.</h4>
</div>