@model FreelanceSewing

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="margin-top: 0px">Успех</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div style="text-align: center">
            <p class="modal-body-head">Ваш заявка будет рассмотрена</p>
            <p>Имя: @Model.Name</p>
            <p>Email: @Model.Email</p>
            <p>Телефон: @Model.PhoneNumber</p>
        </div>

    </div>
</div>