
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1200px;
}

.main-wrapper {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-wrapper-footer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.main-wrapper-footer > a {
    margin: 0;
    color: black;
    text-decoration: none;
}

.main-wrapper-footer > a:hover {
    text-decoration: none;
    color: #999999;
}

.main-wrapper-header {
    display: flex;
    letter-spacing: 1px;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

.header-main-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-main-text__title{
    font-size: 40px;
    font-weight: 600;
}

.header-items {
    display: flex;
}

.header-items > a {
    margin: 0 20px 0 0;
}


.link, .header-items > a {
    text-decoration: none;
    color: black;
}

.link:hover, .header-items > a:hover {
    color: #999999;
}
