
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 1200px;
}

.wrap {
    margin: 0 auto;
}

footer {
    min-height: 4em;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

footer a {
    margin: 0;
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #999999;
}

header {
    display: flex;
    letter-spacing: 1px;
    padding: 2em 5%;
    justify-content: space-between;
    align-items: center;
}

header h1,
header nav {
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    vertical-align: middle;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
}


header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #999999;
}
