.mainPage-mainImage {
    height: 750px;
}

.mainPage > div {
    margin-bottom: 40px;
}

.mainPage > div:last-of-type {
    margin: 0;
}

/*Description part*/

.mainPage-description {
    position: relative;
    height: 600px;
}

.description-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: inherit;
    right: 10%;
    top: 0;
    background: #F4F2F5;
}

.description-text-title {
    margin: 0 0 20px 0;
}

.description-text-title__item {
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}

.description-text-list {
    margin: 0 0 30px 0;
}

.description-text-list__item {
    width: 235px;
    padding: 0;
    font-family: Times New Roman, serif;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
}

.description-text-list__item > li {
    list-style: outside;
}

.description-text-list__item span {
    font-weight: 700;
}

.description-text-button {

}

.description-text-button__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 241px;
    height: 60px;
    background: #F75958;
    border-radius: 40px;
}

.description-text-button__text {
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.description-text-button__item:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.description-text-button__item:hover {
    background: #E15050;
}

/****************************************************/
/*About Us part*/

.mainPage-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F4F2F5;
    padding: 40px 0;
}

.aboutUs-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Times New Roman, serif;
    color: #000000;
    margin: 0 0 50px 0;
}

.aboutUs-text__title {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.aboutUs-text__description {
    width: 350px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
}

.aboutUs-content {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 
    minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content) 
    minmax(min-content, max-content);
}

.aboutUs-content-block {
    display: flex;
    position: relative;
}

.aboutUs-content-block-image__item {
    height: 100%;
    width: 100%;
}

.aboutUs-content-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    width: 200px;
    background: #FFFFFF;
    font-family: Times New Roman, serif;
    color: #000000;
}

.aboutUs-content-block-text__title {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.aboutUs-content-block-text__item {
    width: 160px;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px 0;
}

.aboutUs-content-block-text__item:last-child {
    margin: 0;
}

.aboutUs-content-block-image {
    width: 200px;
    height: 250px;
    z-index: 1;
}

.triangle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 200px;
    z-index: 2;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

.triangle-right {
    border-left: 15px solid #ffffff;
}

.triangle-left {
    border-right: 15px solid #ffffff;
    left: 185px;
}

/********************************************************/
/*Form part*/

.mainPage-form {
    background: #F4F2F5;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: #FFFFFF;
    border: 3px solid #6D4874;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px rgb(0 0 0/31%);
    padding: 30px 0;
}

.form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
    font-family: Times New Roman, serif;
    color: #000000;
}

.form-text__title {
    width: 205px;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.form-text__description {
    text-align: center;
    width: 300px;
    font-size: 12px;
    line-height: 13px;
}

.form-content__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-item {
    width: 250px;
    margin: 0 0 20px 0;
}

.form-item:last-of-type {
    margin: 0 0 30px 0;
}

.input-label {
    width: 100px;
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: #000000;
    display: block;
}

.input {
    width: 250px;
    border-bottom: 1px solid #9E9E9E;
}

.form-content-button {
    width: 200px;
    height: 40px;
    background: #F75958;
    border-radius: 40px;
    margin: 0 0 20px 0;
}

.form-content-button__text {
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.form-content-button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.form-content-button:hover {
    background: #E15050;
}

.form-footer {
    width: 350px;
    font-family: Times New Roman, serif;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
}

/********************************************************************/
/*Footer part*/

.mainPage-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #F4F2F5;
    padding: 40px 0;
}

.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 25px 0;
}

.footer-text__title {
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin: 0 0 20px 0;
}

.footer-text__phone,
.footer-text__email {
    font-family: Times New Roman, serif;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.footer-link {
}

.footer-link-icon {
    text-align: center;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-link-icon__item {
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000;
}

.footer-link-icon__item > i {
    line-height: 60px;
    font-size: 25px;
}

.footer-link-icon__item:hover {
    color: #fff;
    background: #333;
}

.footer-link-icon__item:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.footer-line {
    margin: 20px 0;
    width: 100%;
    border: 0.4px dashed #B1B1B1;
}

.footer-images-grid {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 
    minmax(min-content, max-content);
    grid-template-columns: minmax(min-content, max-content) 
    minmax(min-content, max-content)
    minmax(min-content, max-content);
    grid-gap: 10px;
}

.footer-images-grid__item:first-of-type {
    grid-row: 1 / 3;
    width: 280px;
    height: 291px;
}

.footer-images-grid__item {
    width: 150px;
    height: 140px;
}

/*.footerImages .image1 {*/
/*    position: absolute;*/
/*    width: 280px;*/
/*    height: 291px;*/
/*}*/

/*.footerImages .image2 {*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    height: 140px;*/
/*    left: 292px;*/
/*}*/

/*.footerImages .image3 {*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    height: 140px;*/
/*    left: 292px;*/
/*    top: 151px;*/
/*}*/

/*.footerImages .image4 {*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    height: 140px;*/
/*    left: 454px;*/
/*}*/

/*.footerImages .image5 {*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    height: 140px;*/
/*    left: 454px;*/
/*    top: 151px;*/
/*}*/

.modal-body-head {
    font-family: Times New Roman, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}