@model IEnumerable<MainInfo>

<link rel="stylesheet" href="~/css/productListStyle.css"/>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

<div class="wrapper">
    <div class="content">

        <div class="product-grid product-grid--flexbox">
            <div class="product-grid__wrapper">

                @foreach (var item in Model)
                {
                    <div class="product-grid__product-wrapper">
                        <div class="product-grid__product">

                            <div class="product-grid__img-wrapper">
                                <img src="@item.ImagePath" alt="Img" class="product-grid__img"/>
                                <img src="@item.ImageHoverPath" alt="Img" class="overlay"/>
                            </div>

                            <span class="product-grid__title">@item.Name</span>
                            <span class="product-grid__price" id="priceSpan@(item.Id)"></span>


                            <input type="hidden" name="categoryId" id="categoryIdInput@(item.Id)"/>

                            <div class="product-grid__extend-wrapper">
                                <div class="product-grid__extend" id="elements">

                                    @await Component.InvokeAsync("Selection", item.Id)
                                    @if (User.IsInRole(Role.AuthorizedUser.ToString()))
                                    {
                                        <a class="product-grid__btn product-grid__add-to-cart"
                                           onclick="addToCart(@item.Id)"
                                           style="display:block">
                                            <i class="fa fa-cart-arrow-down"></i>
                                            Добавить в корзину
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function addToCart(id) {
        var inputCategoryIdInput = document.getElementById("categoryIdInput" + id);
            $.ajax({
                type: "GET",
                url: "AddToCart",
                data: { "mainInfoId": id, "categoryId": inputCategoryIdInput.value },
                dataType: "html",
                success: function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                }
            });
    }

    function Create() {
        let selectors = document.getElementsByClassName('product-grid__select');

        for (let select of selectors) {
            $("#" + select.id).trigger("change");
        }
    }

    window.onload = Create;
    window.onunload = Create;
</script>