<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="margin-top: 0px">Успех</h5>
        <button type="button" class="btn-close exit" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Ваш заказ отправлен
    </div>
</div>

<script>

    jQuery(document).ready(function (e) {
        $('.exit').on('click', function () {
            window.location.href = "/Cart/Index";
        });
        
    });

</script>