@model LoginModel


<link rel="stylesheet" href="~/css/Login/mainStyle.css"/>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Восстановление пароля</h5>
                    
                    <div class="validation-summary-errors mainError"></div>

                    <form class="form-signin box" method="post">

                        <label class="error" for="inputEmail" style="display: none;"></label>
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Электронная почта"
                                   autofocus asp-for="Email">
                            <label for="inputEmail">Электронная почта</label>
                        </div>

                        <button class="btn  btn-dark  text-uppercase forgotPassword" type="submit">
                            Отправить письмо
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>