<link rel="stylesheet" href="~/css/Notification.css"/>

<div style="text-align:center;" class="text">
    <h4 class="text__main">Ваш пароль был сброшен.</h4>
    <a class="text__link" asp-controller="Account" asp-action="Login">Вернуться на страницу входа</a>
</div>