@model LoginModel

<link rel="stylesheet" href="~/css/Login/mainStyle.css"/>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <h5 class="card-title text-center">Сброс пароля</h5>

                    <div class="validation mainError" asp-validation-summary="ModelOnly"></div>

                    <form class="form-signin box" method="post">

                        <label class="error" for="inputEmail" style="display: none;"></label>
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Электронная почта"
                                   autofocus asp-for="Email" autocomplete="off">
                            <label for="inputEmail">Электронная почта</label>
                        </div>

                        <label class="error" for="inputPassword" style="display: none;"></label>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль"
                                   asp-for="Password" name="Password" autocomplete="off">
                            <label for="inputPassword">Пароль</label>
                        </div>

                        <label class="error" for="inputConfirmPassword" style="display: none;"></label>
                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Подтвердите пароль"
                                   name="ConfirmPassword" autocomplete="off">
                            <label for="inputConfirmPassword">Подтвердите пароль</label>
                        </div>

                        <button class="btn  btn-dark  text-uppercase resetPassword" type="submit">
                            Поменять пароль
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/account/src.js"></script>